*
{
    margin: 0;
    padding:0;
    font-family: 'Changa', sans-serif;
    color:#333;
}
.container
{
    width: 80%;
    margin: auto;
}
img
{
    width:100%;
}
.underLined
{
    text-decoration: underline;
}
.clrfix
{
    clear: both;
}
.line
{
    width:10%;
    height: 3px;
    margin: auto;
    background-color: #333;
    
}
.box
{
    padding:40px 0 100px;
    margin:80px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
}
/** start main page head styles **/
.head
{
    
    text-align: center;
}
.head .content
{
    font-size: 4vw;
    line-height: 20px;
}

/** end main page head styles **/

/** start entry-form styles **/
.entry-form
{
    padding:80px 0;
    text-align: center;
}
.entry-form .content .form input[type=text]
{
    width:60%;
    padding:10px 4px;
    border:none;
    outline: none;
    border-bottom: 1px solid #eee; 
    color:#333;
    font-size: 20px;
    transition: all ease 0.4s;
}
.entry-form .content .form input[type=text]:hover,
.entry-form .content .form input[type=text]:focus,
.entry-form .content .form input[type=text]:active,
.entry-form .content .form input[type=text]:visited
{
    border-bottom-color: #333;
}
.entry-form .content .form input[type=submit]
{
    padding:5px 15px;
    background: none;
    border:none;
    box-shadow: none;
    cursor: pointer;
    font-weight: 900;
    font-size: 20px;
    color:#fff;
    background-color:#333;
    transition: all ease 0.4s;
}
.entry-form .content .form input[type=submit]:hover
{
    background-color: #fff;
    color:#333;
}

/** end entry-form styles **/


/** start city styles **/
.city
{
    background-color:#09c;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.city .images-col,
.city .content-col
{
    float:left;
}

.city .images-col{width:20%;background-color: #333;}
.city .content-col{width:80%;background-color: orange;}

.city .images-col
{
    background-color: #09c;
}

/** end city styles **/